.App {
  text-align: center;
}
.app-container {
  max-width: 80%;
  margin: 0 auto;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}
.search {
  width: 80%;
  height: 36px;
}
.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  background-color: #a9a9a9;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.button:hover {
  background-color: #8a8888;
}
.search-container {
  display: flex;
  gap: 5px;
}
.checkbox-filter {
  margin: 10px 0;
}
